# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.installed.cfg
pip-selfcheck.json
/eggs/
/bin/
/build/
/dist/
/include/
/local/
/lib/
/share/
*.egg-info

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Optimus
/project/_build/
/project/.webassets-cache/

# Foundation sources
/foundation-sites-5.5.3/
/sources/js/foundation5/foundation
/sources/js/foundation5/vendor/*.js
/foundation-sites-6.3.1/
/sources/js/foundation6/foundation
/sources/js/foundation6/vendor/*.js

# Various
/cherrypy/
RELEASED_VERSION