# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.installed.cfg
pip-selfcheck.json
/eggs/
/bin/
/build/
/dist/
/include/
/local/
/lib/
/share/
*.egg-info

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Optimus
/project/_build/
/project/.webassets-cache/

# Foundation sources
/foundation-sites-*/
/sources/js/foundation6/foundation
/sources/js/foundation6/vendor/*.js

# Ignored sample stuff
/sources/css/sample.foundation6.css

# Various
/sveetoy-cli
/node_modules/
/cherrypy/
RELEASED_VERSION