@import "../mixins/colors";

/*
 * Button enhancements
 */
$include-sveetoy-buttons: $include-sveetoy-classes !default;

// Depends from foundation variables, default should be empty or fixed value
$sveetoy-button-modests: (
    tiny: $button-tny / 2,
    small: $button-sml / 2,
    medium: $button-med / 2,
    large: $button-lrg / 2,
) !default;

@if $include-sveetoy-buttons {
    button,
    .button{
        ///
        /// Explicitely remove all button margins
        ///
        &.unmarged {
            margin: 0;
        }

        ///
        /// Make stronger button
        ///
        &.strong{
            font-weight: bold;
            text-transform: uppercase;
        }

        ///
        /// Fullwidth (like '.expand' but keeping padding)
        ///
        &.full {
            width: 100%;
        }

        ///
        /// Modest padding
        ///
        &.modest{
            $default-padding: map-get($sveetoy-button-modests, "medium");
            padding: $default-padding ($default-padding * 2) $default-padding ($default-padding * 2);

            @each $name, $padding in $sveetoy-button-modests{
                &.#{$name}{
                    padding: $padding ($padding * 2) $padding ($padding * 2);
                }
            }
        }

        ///
        /// Various color variants from color schemes
        ///
        @each $name, $scheme in $sveetoy-button-colors-schemes{
            &.#{$name}{
                @include sveetoy-button-colors($scheme);
            }
        }
    }

    ///
    /// Disable bottom margin for last element
    ///
    div, p, dd, li{
        button, .button{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    /* TODO: Issue #7 */
    ///
    /// Visually transform a dropdown button into a select list with vertical
    /// scrollbar. This is useful for long list items that can impact on page size
    ///
    .f-dropdown.overflow {
        overflow: auto;
        height: rem-calc(200px);
        // Various sizes
        &.overflow-100 {
            height: rem-calc(100px);
        }
        &.overflow-150 {
            height: rem-calc(150px);
        }
        &.overflow-200 {
            height: rem-calc(200px);
        }
        &.overflow-250 {
            height: rem-calc(250px);
        }
        &.overflow-300 {
            height: rem-calc(300px);
        }
    }
}