/*
 * Global stuff
 */
$include-sveetoy-classes: true !default;

$include-sveetoy-global: $include-sveetoy-classes !default;

@import '../utils/functions';


@if $include-sveetoy-global {
    ///
    /// Some styling for this JS component stuff (read more on 'js/jquery.currentmediaquery.js')
    ///
    #watch-for-current-mquery{
        padding: 0.0rem 0.5rem;
        position: absolute;
        top: 10px;
        right: 35px;
        font-size: 14px;
        font-weight:bold;
        line-height:1.4;
        text-align: center;
        text-transform: uppercase;
        border: 2px solid $alert-color;
        background-color: $white;
        z-index: 9000;

        small{
            display: block;
        }
    }


    ///
    /// Shortcut relative position
    ///
    .position-relative {
        position: relative;
    }


    ///
    /// Image element
    ///
    img{
        &.centered{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        &.expanded{
            width: 100%;
            height: auto;
        }
    }
}