/*
 *
 * Header styles for Sveetoy demo
 *
 */

// "Fork me on github" badge
.github-badge{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5000;
}

/// Header topbar
#main-top-bar{
    padding: 0;

    .top-bar-title{
        padding: 0;

        .menu-icon::after{
            top: rem-calc(-2px);
            left: rem-calc(8px);
        }

        .brand{
            font-family: $font-family-overlock;
            font-size: 1.5rem;
            font-weight: $global-weight-bold;
            line-height: rem-calc(60px);
            color: $white;
            display: inline-block;
            margin-left: 1rem;

            a{
                color: $white;
            }
        }

    }

    .menu{
        margin-left: 2rem;

        li a{
            padding-top: 0;
            padding-bottom: 0;
            color: $white;
            line-height: rem-calc(60px);

            &.active{
                color: $white;
                background-color: map-get($foundation-palette, "primary");
            }

            &:not(.active):hover{
                background-color: lighten($topbar-background, 5%);
            }
        }
    }
}
