/*
 *
 * Various Specific styles for Sveetoy demo
 *
 */

///
/// No bullet on sub-nav list
///
.sub-nav li {
    list-style-type: none;
}

///
/// Introduction header
#intro{
    .logo{
        font-size: 4.5rem;
        font-family: $font-family-overlock;
        text-align: center;
        text-transform: uppercase;
    }
}

///
/// Component menu bar
///
#demo-menu{
    .menu{
        background-color: map-get($snow1-color-scheme, "background-color");

        dd a{
            color: map-get($snow1-color-scheme, "font-color");
            text-transform: uppercase;

            &:hover{
                text-decoration: underline;
            }
        }

        &.fixed{
            border-bottom: 1px solid $gray88;

            dd.active a{
                color: $white;

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}

///
/// Specific demo layout
///
.section{
    &.demo-section{
        border-top: 1px solid $gray88;

        .demo-introduction{
            margin-bottom: 3rem;
        }

        .demo-title{
            font-family: $font-family-overlock;
        }

        .demo-result{
            background:
                linear-gradient(-90deg, $gray94 1px, transparent 1px),
                linear-gradient($gray94 1px, transparent 1px),
                linear-gradient(-90deg, $gray94 1px, transparent 1px),
                linear-gradient($gray94 1px, transparent 1px),
                linear-gradient(transparent 3px, transparent 3px, transparent 78px, transparent 78px),
                linear-gradient(-90deg, transparent 1px, transparent 1px),
                linear-gradient(-90deg, transparent 3px, transparent 3px, transparent 78px, transparent 78px),
                linear-gradient(transparent 1px, transparent 1px), transparent;
            background-size:
                10px 10px,
                10px 10px,
                10px 10px,
                10px 10px,
                10px 10px,
                10px 10px,
                10px 10px,
                10px 10px;
            border: 1px solid $gray88;
        }

        // Even section
        &:nth-child(2n) {
            @extend .section.snow1;

            .demo-result{
                background-color: $white;
            }
        }
    }
}