/*
 * Various content styles
 */
#intro{
    .logo{
        font-size: 4.5rem;
        font-family: $font-family-overlock;
        text-align: center;
        text-transform: uppercase;
    }
}

.section{
    &.demo-section{
        border-top: 1px solid #e0e0e0;

        .demo-introduction{}

        .demo-title{
            font-family: $font-family-overlock;
        }

        .demo-result{
            background:
                linear-gradient(-90deg, rgba($black, .03) 1px, transparent 1px),
                linear-gradient(rgba($black, .03) 1px, transparent 1px),
                linear-gradient(-90deg, rgba($black, .03) 1px, transparent 1px),
                linear-gradient(rgba($black, .03) 1px, transparent 1px),
                linear-gradient(transparent 3px, transparent 3px, transparent 78px, transparent 78px),
                linear-gradient(-90deg, transparent 1px, transparent 1px),
                linear-gradient(-90deg, transparent 3px, transparent 3px, transparent 78px, transparent 78px),
                linear-gradient(transparent 1px, transparent 1px), transparent;
            background-size:
                10px 10px,
                10px 10px,
                10px 10px,
                10px 10px,
                10px 10px,
                10px 10px,
                10px 10px,
                10px 10px;
            border: 1px solid #d0d0d0;
        }

        // Even section
        &:nth-child(2n) {
            background-color: #f4f2f0;
            border-top: 1px solid #d0d0d0;

            .demo-result{
                background-color: $white;
            }
        }
    }
}