<div class="block tiny" id="head">
    <div class="row">
        <div class="small-12 columns">
            <h1 class="demo-title">{{ page_title|capitalize }}</h1>
        </div>
    </div>
</div>

<div class="block unpadded" id="component-menu">
    <div class="row">
        <div class="small-12 columns">
            <ul class="stack-for-small round button-group">
                <li><a href="#headings" class="button secondary tiny">Headings</a></li>
                <li><a href="#grid" class="button secondary tiny">Grid</a></li>
                <li><a href="#blockquotes" class="button secondary tiny">Blockquotes</a></li>
                <li><a href="#figures" class="button secondary tiny">Figures</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="block divider" id="headings">
    <div class="row">
        <div class="small-12 columns">
            <h2 class="demo-title text-center">Headings</h2>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns divider">
            <p class="title-1">HEADING 1</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="small-12 columns divider">
            <h2>HEADING 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="small-12 columns divider">
            <h3>HEADING 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="small-12 columns divider">
            <h4>HEADING 4</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="small-12 columns divider">
            <h5>HEADING 5</h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="small-12 columns divider">
            <h6>HEADING 6</h6>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>


<div class="block divider" id="grid">
    <div class="row">
        <div class="small-12 columns">
            <h2 class="demo-title text-center">Grid</h2>
        </div>
    </div>
    <div class="row divider">
        <div class="large-6 medium-6 small-12 columns">
            <h3 class="demo-title">1/2</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-6 medium-6 small-12 columns">
            <h3 class="demo-title">1/2</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <div class="row divider">
        <div class="large-9 medium-9 small-12 columns">
            <h3 class="demo-title">2/3</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h3 class="demo-title">1/3</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
        </div>
    </div>
    <div class="row divider">
        <div class="large-4 medium-4 small-12 columns">
            <h3 class="demo-title">1/3</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-4 medium-4 small-12 columns">
            <h3 class="demo-title">1/3</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-4 medium-4 small-12 columns">
            <h3 class="demo-title">1/3</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <div class="row divider">
        <div class="large-3 medium-3 small-12 columns">
            <h3 class="demo-title">1/4</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h3 class="demo-title">1/4</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h3 class="demo-title">1/4</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h3 class="demo-title">1/4</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <div class="row divider">
        <div class="large-3 medium-3 small-12 columns">
            <h3 class="demo-title">1/3</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
        </div>
        <div class="large-9 medium-9 small-12 columns">
            <h3 class="demo-title">2/3</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <div class="row divider">
        <div class="small-12 columns">
            <h3 class="demo-title">Full width</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>

    <div class="row larger divider">
        <div class="small-12 columns">
            <h3 class="demo-title">Inside a '.row.large'</h3>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h4 class="demo-title">1/4</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h4 class="demo-title">1/4</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h4 class="demo-title">1/4</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h4 class="demo-title">1/4</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>

    <div class="row fluid divider">
        <div class="small-12 columns">
            <h3 class="demo-title">Inside a '.row.fluid'</h3>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h4 class="demo-title">1/4</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h4 class="demo-title">1/4</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h4 class="demo-title">1/4</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h4 class="demo-title">1/4</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>


<div class="block divider" id="blockquotes">
    <div class="row">
        <div class="small-12 columns">
            <h2 class="demo-title text-center">Blockquotes</h2>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <p class="quote">"If there ever was a team to trust with your PPC management, these are the guys. My advice? Grab your spot before they change their minds."</p>
            <p class="center-text">- Petar Stojakovic, Subotica</p>
        </div>
        <div class="small-12 columns">
            <p class="quote">I bought Rubiko theme that looks and works fantastically all recommendations!
            <p class="center-text"><i><span class="green-light_typo"><strong>@blazrobar</strong></span> #webdesign</i></p>
        </div>
    </div>
</div>


<div class="block divider" id="figures">
    <div class="row">
        <div class="small-12 columns">
            <h2 class="demo-title text-center">Figures</h2>
        </div>
    </div>
    <div class="row divider">
        <div class="small-12 columns">
            <div class="large-3 medium-3 small-12 columns">
                <img src="http://fpoimg.com/300x250" alt="">
            </div>
            <div class="large-9 medium-9 small-12 columns">
                <h3 class="demo-title">Rubiko will take<br>you to the next level</h3>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed molestie neque, id venenatis nisl. Aliquam magna magna, interdum quis nisl quis,
                    eleifend sollicitudin nibh. Morbi nec felis ut nisl sagittis rhoncus. Vestibulum condimentum ligula ac mattis commodo. Etiam pharetra,
                    dolor tempor volutpat auctor, nisi urna lacinia diam, ac consectetur turpis velit non neque. Sed erat eros, porttitor ac pretium vel,
                    posuere a ante. Ut mattis interdum magna egestas accumsan. Vestibulum eget eros quam. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="large-6 medium-6 small-12 columns">
                <img src="http://fpoimg.com/455x250" alt="">
            </div>
            <div class="large-6 medium-6 small-12 columns">
                <h3 class="demo-title">Rubiko will take<br>you to the next level</h3>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed molestie neque, id venenatis nisl. Aliquam magna magna, interdum quis nisl quis,
                    eleifend sollicitudin nibh. Morbi nec felis ut nisl sagittis rhoncus. Vestibulum condimentum ligula ac mattis commodo. Etiam pharetra,
                    dolor tempor volutpat auctor, nisi urna lacinia diam, ac consectetur turpis velit non neque. Sed erat eros, porttitor ac pretium vel,
                    posuere a ante. Ut mattis interdum magna egestas accumsan. Vestibulum eget eros quam. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra.</p>
            </div>
        </div>
    </div>
</div>
