///
/// SVEETOY SETTINGS FOR DEMONSTRATION
///

// Declare which foundation version we have to support
$sveetoy_foundation_support: 5;


// A1. Sveetoys Query Ranges
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Common available breakpoints taken from Foundation breakpoints
$sveetoy-breakpoints: (
    small: $small-up,
    medium: $medium-up,
    large: $large-up,
    xlarge: $xlarge-up,
);


// A2. Sveetoys colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

$white: #ffffff;
$black: #000000;
$lightskyblue: #87cefa;
$deepskyblue4: #00688b;
$gray25: #404040;
$gray82: #d0d0d0;
$gray88: #e0e0e0;
$gray94: #f0f0f0;
$snow1: #fffafa;

$white-color-scheme: (
    font-color: $gray25,
    background-color: $white,
);
$black-color-scheme: (
    background-color: $black,
);
$snow1-color-scheme: (
    font-color: $gray25,
    background-color: $snow1,
);
$lightskyblue-color-scheme: (
    font-color: $deepskyblue4,
    link-color: $white,
    background-color: $lightskyblue,
    border-width: 1px,
    border-style: solid,
    border-color: $deepskyblue4,
);

$sveetoy-colors-scheme-default: $white-color-scheme;

$sveetoy-colors-schemes: (
    white: $white-color-scheme,
    black: $black-color-scheme,
    lightskyblue: $lightskyblue-color-scheme,
    snow1: $snow1-color-scheme,
);

$sveetoy-color-text-palette: (
    white: $white,
    black: $black,
    gray25: $gray25,
    gray82: $gray82,
    gray88: $gray88,
    lightskyblue: $lightskyblue,
    deepskyblue4: $deepskyblue4,
);


// A3. Sveetoys typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Thickness
$font-weight-thin: 100;
$font-weight-strong: 900;

// <small/> sizes
$sveetoy-smalls: (
    small: 40%,
    big: 60%,
    large: 80%,
);

// .underline features
$sveetoy-underline-thickness: (
    thin: (
        size: rem-calc(1px),
        style: solid,
    ),
    normal: (
        size: rem-calc(3px),
        style: solid,
    ),
    bold: (
        size: rem-calc(5px),
        style: solid,
    ),
);
$sveetoy-underline-widths: (
    tiny: 5%,
    short: 15%,
    normal: 40%, //default
    large: 70%,
    full: 100%,
);
$sveetoy-underline-distances: (
    far: 2rem,
    near: 0.5rem,
    normal: 1rem, //default
    sticked: 0,
);
$sveetoy-underline-colors: $sveetoy-color-text-palette;
$sveetoy-underline-default-color: $black;

// Horizontal rule
$sveetoy-hr-thickness: $sveetoy-underline-thickness;
$sveetoy-hr-distances: $sveetoy-underline-distances;
$sveetoy-hr-colors: $sveetoy-underline-colors;
$sveetoy-hr-default-color: $sveetoy-underline-default-color;


// A4. Sveetoys spaces
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Defines default space sizes with their breakpoint values
$sveetoy-space-tiny: (
    small: 0.5rem,
    medium: 0.75rem,
    large: 1rem,
    xlarge: 1.5rem,
);
$sveetoy-space-short: (
    small: 1rem,
    medium: 1.25rem,
    large: 2rem,
    xlarge: 2.5rem,
);
$sveetoy-space-normal: (
    small: 1.5rem,
    medium: 2rem,
    large: 3rem,
    xlarge: 4rem,
);
$sveetoy-space-large: (
    small: 2rem,
    medium: 3rem,
    large: 4rem,
    xlarge: 5rem,
);
$sveetoy-space-wide: (
    small: 3rem,
    medium: 4.5rem,
    large: 6rem,
    xlarge: 8rem,
);

// Space scheme
$sveetoy-spaces: (
    tiny: $sveetoy-space-tiny,
    short: $sveetoy-space-short,
    normal: $sveetoy-space-normal,
    large: $sveetoy-space-large,
    wide: $sveetoy-space-wide,
);


// Define button variables using default Foundation values
$button-tny: rem-calc(10);
$button-sml: rem-calc(14);
$button-med: rem-calc(16);
$button-lrg: rem-calc(18);
// Use button variables for .modest feature
$sveetoy-button-modests: (
    tiny: $button-tny / 2,
    small: $button-sml / 2,
    medium: $button-med / 2,
    large: $button-lrg / 2,
);
// Button color scheme
$sveetoy-button-colors-schemes: $sveetoy-colors-schemes;


// A5. Sveetoys Boxes
// - - - - - - - - - - - - - - - - - - - - - - - - -
$sveetoy-boxes-thickness: $sveetoy-underline-thickness;


// A6. Sveetoys Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Larger row width for xlarge screens and more
$sveetoy-row-larger-width: rem-calc(1328px);


// A7. Sveetoys Flexbox
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Fleg grid cell sizes
$flex-grid-sizes: 20 25 33.3333 50 75 100;
