<div id="blocks" class="block unpadded demo-block"{% if foundation_version == 5 %} data-magellan-destination="blocks"{% else %} data-magellan-target="blocks"{% endif %}>
    <div class="row larger demo-introduction">
        <div class="small-12 columns box">
            <h1 class="demo-title text-upper">Blocks</h1>
            <p>A block is a full width container useful for fluid design layouts but with first goal to set background and font colors.</p>
            <p>Available features can apply various vertical padding using rythmic space from <code>$sveetoy-spaces</code> and various color schemes from <code>$sveetoy-colors-schemes</code>.</p>

            <p>See Box component for available spacing features.</p>

            <dl>
                <dt>Can be disabled with</dt>
                <dd><code>$include-sveetoy-blocks: false;</code></dd>

                <dt>Source location</dt>
                <dd><code>sveetoy/components/_blocks.scss</code></dd>
            </dl>
        </div>
    </div>

    {% for name in ['', 'black', 'lightskyblue', 'snow1', 'wide'] %}
    <div class="block{% if name %} {{ name }}{% endif %}">
        <div class="row">
            <div class="small-12 columns">
                <h2 class="demo-title">.block{% if name %}.{{ name }}{% endif %}</h2>
                {% include '_includes/_inline_markup.html' %}

                {{ lipsum(n=2, html=True, min=20, max=50) }}
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="block lightskyblue delegate">
        <div class="inner">
            <div class="row">
                <div class="small-12 columns">
                    <h2 class="demo-title">.block.delegate and .inner child</h2>

                    <p>You can delegate spacing behavior to a <code>.inner</code> in a <code>.block.delegate</code>, the latter will only retains the color features.</p>

                    {% include '_includes/_inline_markup.html' %}

                    {{ lipsum(n=2, html=True, min=20, max=50) }}
                </div>
            </div>
        </div>
    </div>
</div>
