<div id="blocks" class="block unpadded demo-block"{% if foundation_version == 6 %} data-magellan-target="blocks"{% endif %}>
    <div class="row larger demo-introduction">
        <div class="small-12 columns box">
            <h1 class="text-upper">Blocks</h1>
            <p>A block is a full width container useful for fluid design layouts but with first goal to set background and font colors.</p>

            <p>Available features can apply various vertical padding using rythmic space from <code>$sv-spaces</code> and various color schemes from <code>$sv-colors-schemes</code>.</p>

            <p>This component does not apply border properties and 'hover' prefix for color scheme properties.</p>

            <p>See Box component for available spacing features.</p>

            <dl>
                <dt>Can be disabled with</dt>
                <dd><code>$include-sv-blocks: false;</code></dd>

                <dt>Source location</dt>
                <dd><code>sveetoy/components/_blocks.scss</code></dd>
            </dl>
        </div>
    </div>

    <div class="block">
        <div class="row">
            <div class="small-12 columns">
                <h2>.block</h2>
                <p><small class="styleguide-schemes-background-"></small></p>
                {% include '_includes/_inline_markup.html' %}

                {{ lipsum(n=2, html=True, min=20, max=50) }}
            </div>
        </div>
    </div>
    {% for k,v in styleguide.block_colors.items() %}
    <div class="block {{ k }}">
        <div class="row">
            <div class="small-12 columns">
                <h2>.block.{{ k }}</h2>
                <p><small>{{ v }}</small></p>
                {% include '_includes/_inline_markup.html' %}

                {{ lipsum(n=2, html=True, min=20, max=50) }}
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="block lightskyblue delegate">
        <div class="inner">
            <div class="row">
                <div class="small-12 columns">
                    <h2>.block.delegate and .inner child</h2>

                    <p>You can delegate spacing behavior to a <code>.inner</code> in a <code>.block.delegate</code>, the latter will only retains the color features.</p>

                    {% include '_includes/_inline_markup.html' %}

                    {{ lipsum(n=2, html=True, min=20, max=50) }}
                </div>
            </div>
        </div>
    </div>
</div>
