<div class="block demo-block" data-magellan-destination="boxes">
    <a id="boxes"></a>
    <div class="row larger demo-introduction">
        <div class="small-12 columns">
            <h1 class="demo-title">Boxes</h1>
            <p>Box component is a combination of spaces and colors settings, alike <code>.block</code> but with both horizontal and vertical padding and optional borders.

            <dl>
                <dt>Can be disabled with</dt>
                <dd><code>$include-sveetoy-boxes: false;</code></dd>

                <dt>Source location</dt>
                <dd><code>sveetoy/components/_boxes.scss</code></dd>
            </dl>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">

            <h2>Spaces</h2>
            <p>Space features are built from <code>$sveetoy-spaces</code> (except for <code>.unpadded</code> that just set padding to 0). Default box colors comes from <code>normal</code> item from <code>$sveetoy-spaces</code>.</p>
            <p>Note than first direct child element does not have a margin top and last direct child element does not have a margin bottom.</p>
            <div class="flex-grid marged demo-result">
                {% for name in ['unpadded', 'thin', 'tiny', '', 'wide', 'huge'] %}
                <div class="cell small-100 medium-50 large-33">
                    <div class="box{% if name %} {{ name }}{% endif %}">
                        <h3 class="demo-title">.box{% if name %}.{{ name }}{% endif %}</h3>
                        {% include '_includes/_inline_markup.html' %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <h2>Colors</h2>
            <p>Color features are built from <code>$sveetoy-colors-schemes</code>. Default box colors comes from <code>$sveetoy-colors-scheme-default</code>.</p>
            <div class="flex-grid marged demo-result">
                {% for name in ['', 'white', 'black', 'lightskyblue', 'snow1'] %}
                <div class="cell small-100 medium-50 large-33">
                    <div class="box{% if name %} {{ name }}{% endif %}">
                        <h3 class="demo-title">.box{% if name %}.{{ name }}{% endif %}</h3>
                        {% include '_includes/_inline_markup.html' %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <h2>Border thickness</h2>
            <p>Optionally if your color scheme support borders you can change its thickness using some features.</p>
            <div class="flex-grid marged demo-result">
                {% for name in ['border-thin', 'border-normal', 'border-bold'] %}
                <div class="cell small-100 medium-50 large-33">
                    <div class="box lightskyblue{% if name %} {{ name }}{% endif %}">
                        <h3 class="demo-title">.box{% if name %}.{{ name }}{% endif %}</h3>
                        {% include '_includes/_inline_markup.html' %}
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
