<div class="section demo-section" data-magellan-destination="buttons">
    <a id="buttons"></a>
    <div class="row larger demo-introduction">
        <div class="small-12 columns">
            <h1 class="demo-title">Buttons</h1>
            <p>Some addons to the buttons features.</p>

            <p>Also there is a new rule that prevent buttons to have a bottom margin if they are the last child of a <code>div</code>, <code>p</code>, <code>dd</code>, <code>li</code> element.</p>

            <dl>
                <dt>Can be disabled with</dt>
                <dd><code>$include-sveetoy-buttons: false;</code></dd>

                <dt>Source location</dt>
                <dd><code>sveetoy/components/_buttons.scss</code></dd>
            </dl>
        </div>
    </div>

    <div class="row larger">

        <div class="small-12 columns">
            <h2 class="demo-title">Stronger</h2>
            <p>Make the button text stronger and uppercase.</p>
            <div class="demo-result v-space-thin">
                <div class="row">
                    {% for name in ['', 'strong'] %}
                    <div class="large-4 columns{% if loop.last %} end{% endif %}">
                        <a href="" class="button{% if name %} {{ name }}{% endif %}">.button{% if name %}.{{ name }}{% endif %}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2 class="demo-title">Sizes</h2>
            <p>Add <code>.full</code> feature that act like <code>.expand</code> but preserve normal horizontal padding.</p>
            <div class="demo-result v-space-thin">
                <div class="row">
                    <div class="small-12 columns">
                        <a href="" class="button full">.button.full</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2 class="demo-title">Paddings</h2>
            <p>Add <code>.modest</code> feature so the button padding are divided by two.</p>
            <div class="demo-result v-space-thin">
                <div class="row">
                    {% for name in ['', 'small.modest', 'modest', 'large.modest', 'small.modest.radius', 'modest.round'] %}
                    <div class="large-4 columns{% if loop.last %} end{% endif %}">
                        <a href="" class="button{% if name %} {{ name|replace(".", " ") }}{% endif %}">.button{% if name %}.{{ name }}{% endif %}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2 class="demo-title">Dropdown overflow</h2>
            <p>Add <code>.overflow</code> feature to <code>f-dropdown</code> so the dropdown is limited to a fixed size with automatic scrollbar.</p>
            <div class="demo-result v-space-thin">
                <div class="row">
                    <div class="large-4 columns">
                        <a href="#" class="button dropdown" data-dropdown="drop-1">button dropdown</a>
                        <ul class="f-dropdown" id="drop-1" data-dropdown-content>
                            <li><a href="#">This is a link</a></li>
                            <li><a href="#">This is another</a></li>
                            <li><a href="#">Yet another</a></li>
                        </ul>
                    </div>
                    <div class="large-4 columns end">
                        <a href="#" class="button dropdown" data-dropdown="drop-2">.button.dropdown (overflow)</a>
                        <ul class="f-dropdown overflow overflow-100" id="drop-2" data-dropdown-content>
                            <li><a href="#">This is a link</a></li>
                            <li><a href="#">This is another</a></li>
                            <li><a href="#">Yet another</a></li>
                            <li><a href="#">Last one</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>