<div class="section demo-section" data-magellan-destination="buttons">
    <a id="buttons"></a>
    <div class="row larger demo-introduction">
        <div class="small-12 columns">
            <h1 class="demo-title">Buttons</h1>
            <p>Some addons to the buttons features.</p>

            <p>Also there is a new rule that prevent buttons to have a bottom margin if they are the last child of a <code>div</code>, <code>p</code>, <code>dd</code>, <code>li</code> element.</p>

            <dl>
                <dt>Can be disabled with</dt>
                <dd><code>$include-sveetoy-buttons: false;</code></dd>

                <dt>Source location</dt>
                <dd><code>sveetoy/components/_buttons.scss</code></dd>
            </dl>
        </div>
    </div>

    <div class="row larger">

        <div class="small-12 columns">
            <h2 class="demo-title">Stronger</h2>
            <p>Make the button text stronger and uppercase.</p>
            <div class="demo-result v-space-thin">
                <div class="row">
                    {% for name in ['', 'strong'] %}
                    <div class="large-4 columns{% if loop.last %} end{% endif %}">
                        <a href="" class="button{% if name %} {{ name }}{% endif %}">.button{% if name %}.{{ name }}{% endif %}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2 class="demo-title">Sizes</h2>
            <p>Add <code>.full</code> feature that act like <code>.expand</code> but preserve normal horizontal padding.</p>
            <div class="demo-result v-space-thin">
                <div class="row">
                    <div class="small-12 columns">
                        <a href="" class="button full">.button.full</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2 class="demo-title">Paddings</h2>
            <p>Add <code>.modest</code> feature so the button padding are divided by two or less, it depend from size definitions in <code>$sveetoy-button-modests</code>.</p>
            <div class="demo-result v-space-thin">
                <div class="row">
                    {% for name in ['', 'small.modest', 'modest', 'large.modest', 'small.modest.radius', 'modest.round'] %}
                    <div class="large-4 columns{% if loop.last %} end{% endif %}">
                        <a href="" class="button{% if name %} {{ name|replace(".", " ") }}{% endif %}">.button{% if name %}.{{ name }}{% endif %}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2 class="demo-title">Colors</h2>
            <p>Button color features are builded from <code>$sveetoy-button-colors-schemes</code> that is on the same format than <code>$sveetoy-colors-schemes</code> except additional (and optionnal) <code>border-color</code> option.</p>
            <div class="demo-result v-space-thin">
                <div class="row">
                    {% for name in ['', 'white', 'black', 'snow1', 'lightskyblue'] %}
                    <div class="large-4 columns{% if loop.last %} end{% endif %}">
                        <a href="" class="button{% if name %} {{ name|replace(".", " ") }}{% endif %}">.button{% if name %}.{{ name }}{% endif %}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>