<div class="section demo-section" data-magellan-destination="buttons">
    <a id="buttons"></a>
    <div class="row larger demo-introduction">
        <div class="small-12 columns">
            <h1 class="demo-title">Buttons</h1>
            <p>Buttons are a common way to display important links, often called CTA (*Call To Action*).</p>

            <p>They define a background, padding and font to be visually important.</p>

            <p>This component only add <code>.modest</code> feature every other showed features are from Foundation and just for comparison.</p>

            <dl>
                <dt>Can be disabled with</dt>
                <dd><code>$include-sveetoy-buttons: false;</code></dd>

                <dt>Source location</dt>
                <dd><code>sveetoy/components/_buttons.scss</code></dd>
            </dl>
        </div>
    </div>

    <div class="row larger">

        <div class="small-12 columns">
            <h2 class="demo-title">Shapes</h2>
            <div class="demo-result v-space-thin">
                <div class="row">
                    {% for name in ['', 'radius', 'round'] %}
                    <div class="large-4 columns{% if loop.last %} end{% endif %}">
                        <a href="" class="button{% if name %} {{ name }}{% endif %}">.button{% if name %}.{{ name }}{% endif %}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2 class="demo-title">Sizes</h2>
            <div class="demo-result v-space-thin">
                <div class="row">
                    {% for name in ['tiny', 'small', '', 'large', 'expand'] %}
                    <div class="large-4 columns{% if loop.last %} end{% endif %}">
                        <a href="" class="button{% if name %} {{ name }}{% endif %}">.button{% if name %}.{{ name }}{% endif %}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2 class="demo-title">Paddings</h2>
            <div class="demo-result v-space-thin">
                <div class="row">
                    {% for name in ['small', '', 'large', 'small.modest', 'modest', 'large.modest', 'small.modest.radius', 'modest.round'] %}
                    <div class="large-4 columns{% if loop.last %} end{% endif %}">
                        <a href="" class="button{% if name %} {{ name|replace(".", " ") }}{% endif %}">.button{% if name %}.{{ name }}{% endif %}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2 class="demo-title">Colours</h2>
            <div class="demo-result v-space-thin">
                <div class="row">
                    {% for name in ['', 'success', 'secondary', 'alert', 'info', 'disabled'] %}
                    <div class="large-4 columns{% if loop.last %} end{% endif %}">
                        <a href="" class="button{% if name %} {{ name }}{% endif %}">.button{% if name %}.{{ name }}{% endif %}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2 class="demo-title">Dropdowns</h2>
            <div class="demo-result v-space-thin">
                <div class="row">
                    <div class="large-4 columns">
                        <a href="" class="button">.button</a>
                    </div>
                    <div class="large-4 columns">
                        <a href="#" class="button dropdown" data-dropdown="drop-1">button dropdown</a>
                        <ul class="f-dropdown" id="drop-1" data-dropdown-content>
                            <li><a href="#">This is a link</a></li>
                            <li><a href="#">This is another</a></li>
                            <li><a href="#">Yet another</a></li>
                        </ul>
                    </div>
                    <div class="large-4 columns">
                        <a href="#" class="button dropdown" data-dropdown="drop-2">.button.dropdown (overflow)</a>
                        <ul class="f-dropdown overflow overflow-100" id="drop-2" data-dropdown-content>
                            <li><a href="#">This is a link</a></li>
                            <li><a href="#">This is another</a></li>
                            <li><a href="#">Yet another</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>