<div id="colors" class="block demo-block"{% if foundation_version == 6 %} data-magellan-target="colors"{% endif %}>
    <div class="row larger demo-introduction">
        <div class="small-12 columns">
            <h1 class="text-upper">Colors</h1>
            <p>Sveetoy enforce color policy by defining every color stuff in color schemes so they are usable in other components like blocks, boxes, buttons, etc..</p>

            <p>There is also a basic component that just generate helper class like <code>.bg-NAME</code> where <code>NAME</code> is the color scheme name. These classes are only created for color scheme with a <code>background</code> property.</p>

            <p>You can find every available color scheme property from <a href="{{ SITE.web_url }}/api/#models-variable-Color scheme model" target="blank">color scheme model documentation</a>.</p>

            <p>Colors you will see in this page is just a demonstration, Sveetoy default settings has no color scheme defined and sample settings only define a black and a white color schemes.</p>

            <p>Note than <code>transparent</code> is a reserved keyword than you should not use to define your color scheme names. Commonly this word is used as a feature in some component to avoid using any color and just inherit from parent rules.</p>
            <dl>
                <dt>Helper classes can be disabled with</dt>
                <dd><code>$include-sv-colors: false;</code></dd>

                <dt>Helper classes source location</dt>
                <dd><code>sveetoy/components/_colors.scss</code></dd>
            </dl>
        </div>
    </div>


    <div class="column row larger">
        <h2>Color palette</h2>

        <div class="flex-grid marged">
            {% for k,v in styleguide.palette.items() %}
                <div class="cell medium-50 large-33 xlarge-20 v-align-between">
                    <p><em>.bg-{{ k }}</em> :</p>
                    <p><small>{{ v }}</small></p>
                    <div class="bg-{{ k }}" style="width: 100%; height: 75px;"></div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>