<div id="flex" class="block demo-block"{% if foundation_version == 6 %} data-magellan-target="flex"{% endif %}>
    <div class="row larger demo-introduction">
        <div class="small-12 columns">
            <h1 class="text-upper">Flexbox</h1>
            <p>A simple flexbox grid.</p>
            <p>Alike <code>.row</code> in float grid, <code>.flex-grid</code> is the main container and <code>.cell</code> is equivalent to <code>.columns</code>.</p>
            <p>Available cell sizes are builded from <code>$sv-flex-grid-sizes</code> list and defined for each enabled breakpoints.</p>
            <p><code>.margin</code> feature is defined from <code>$sv-flex-grid-gutter</code>.</p>

            <p>Available cell width sizes are builded from list <code>$sv-flex-grid-sizes</code>, note that size decimals are removed from the size class name so value <code>33.333</code> will build a class names like <code>.small-33</code>, <code>.medium-33</code>, etc..</p>

            <dl>
                <dt>Can be disabled with</dt>
                <dd><code>$include-sv-flex: false;</code></dd>

                <dt>Source location</dt>
                <dd><code>sveetoy/components/_flex.scss</code></dd>
            </dl>
        </div>
    </div>

    <div class="row larger v-space-tiny">
        <div class="small-12 columns">
            <h2>Simple grid</h2>
            <div class="demo-result">
                <div class="flex-grid flex-demo">
                    <div class="cell">
                        <p>.cell</p>
                    </div>
                    {% for k,v in styleguide.flex_grid_sizes.items() %}
                    <div class="cell small-100 medium-{{ k }}">
                        <p>.cell.small-100.medium-{{ k }}</p>
                        <p><small>{{ v }}%</small></p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row larger v-space-tiny">
        <div class="small-12 columns">
            <h2>With margin between cells</h2>

            <div class="demo-result">
                <div class="flex-grid marged flex-demo">
                    <div class="cell">
                        <p>.cell</p>
                    </div>
                    {% for k,v in styleguide.flex_grid_sizes.items() %}
                    <div class="cell small-100 medium-{{ k }}">
                        <p>.cell.small-100.medium-{{ k }}</p>
                        <p><small>{{ v }}%</small></p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row larger v-space-tiny">
        <div class="small-12 columns">
            <h2>Vertical content alignment</h2>

            <div class="demo-result">
                <div class="flex-grid flex-demo align-demo">
                    {% for name in styleguide.flex_vertical_alignments %}
                    <div class="cell small-100 medium-33 v-align-{{ name }}">
                        <p><code>.v-align-{{ name }}</code></p>
                        {{ lipsum(n=1, html=True, min=15, max=16) }}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <h3>Using responsive classes</h3>

            <p>Every alignment classname is available for each breakpoint names, you can combine them to change alignment behavior between breakpoints.</p>

            <p>Classnames are builded using enabled breakpoints from <code>$sv-breakpoints</code>.</p>

            <table>
                <thead>
                    <tr>
                        <th></th>
                        {% for name in styleguide.flex_vertical_alignments %}
                        <th>{{ name|capitalize }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th></th>
                        {% for name in styleguide.flex_vertical_alignments %}
                            <td>.v-align-{{ name }}</td>
                        {% endfor %}
                    </tr>
                    {% for breakpoint in styleguide.breakpoints %}
                    <tr>
                        <th>{{ breakpoint|capitalize }}</th>
                        {% for name in styleguide.flex_vertical_alignments %}
                            <td>.{{ breakpoint }}-v-align-{{ name }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row larger v-space-tiny">
        <div class="small-12 columns">
            <h2>Container items direction</h2>

            {% for name in styleguide.flex_directions %}
            <h3>.direction-{{ name }}</h3>
            <div class="demo-result">
                <div class="flex-grid flex-demo direction-{{ name }}">
                    {% for count in range(1, 4) %}
                    <div class="cell small-33 text-center">
                        {{ count }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

            <h3>Using responsive classes</h3>

            <p>Every direction classname is available for each breakpoint names, you can combine them to change direction behavior between breakpoints.</p>
            <p>Like below with <code>.direction-column.large-direction-row</code>:</p>
            <div class="demo-result">
                <div class="flex-grid flex-demo direction-column large-direction-row">
                    {% for count in range(1, 4) %}
                    <div class="cell small-33 text-center">
                        {{ count }}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="v-space-tiny">
                <p>Classnames are builded using enabled breakpoints from <code>$sv-breakpoints</code>.</p>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            {% for name in styleguide.flex_directions %}
                            <th>{{ name|capitalize }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th></th>
                            {% for name in styleguide.flex_directions %}
                                <td>.direction-{{ name }}</td>
                            {% endfor %}
                        </tr>
                        {% for breakpoint in styleguide.breakpoints %}
                        <tr>
                            <th>{% if breakpoint %}{{ breakpoint|capitalize }}{% endif %}</th>
                            {% for name in styleguide.flex_directions %}
                                <td>.{{ breakpoint }}{% if breakpoint %}-{% endif %}direction-{{ name }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
