<div id="flex" class="block demo-block"{% if foundation_version == 6 %} data-magellan-target="flex"{% endif %}>
    <div class="row larger demo-introduction">
        <div class="small-12 columns">
            <h1 class="text-upper">Flexbox</h1>
            <p>A simple flexbox grid.</p>
            <p>Alike <code>.row</code> in float grid, <code>.flex-grid</code> is the main container and <code>.cell</code> is equivalent to <code>.columns</code>.</p>
            <p>Available cell sizes are builded from <code>$sv-flex-grid-sizes</code> list and defined for each Foundation media query.</p>
            <p><code>.margin</code> feature is defined from <code>$sv-flex-grid-gutter</code>.</p>

            <p>Available cell width sizes are builded from list <code>$sv-flex-grid-sizes</code>, note that size decimals are removed from the size class name, so value 33.333 will build a class name like <code>.small-33</code>, <code>.medium-33</code>, etc..</p>

            <dl>
                <dt>Can be disabled with</dt>
                <dd><code>$include-sv-flex: false;</code></dd>

                <dt>Source location</dt>
                <dd><code>sveetoy/components/_flex.scss</code></dd>
            </dl>
        </div>
    </div>

    <div class="row larger v-space-tiny">
        <div class="small-12 columns">
            <h2>Simple grid</h2>
            <div class="demo-result">
                <div class="flex-grid flex-demo">
                    {% for count in range(1, 7) %}
                    <div class="cell small-100 medium-33">
                        <p>.cell.small-100.medium-33</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row larger v-space-tiny">
        <div class="small-12 columns">
            <h2>With margin between cells</h2>

            <div class="demo-result">
                <div class="flex-grid marged flex-demo">
                    {% for count in range(1, 7) %}
                    <div class="cell small-100 medium-33">
                        <p>.cell.small-100.medium-33</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row larger v-space-tiny">
        <div class="small-12 columns">
            <h2>Vertical content alignment</h2>

            <div class="demo-result">
                <div class="flex-grid flex-demo align-demo">
                    {% for name in ['v-align-start', 'v-align-end', 'v-align-center', 'v-align-around', 'v-align-between'] %}
                    <div class="cell small-100 medium-33 {{ name }}">
                        <p><code>.{{ name }}</code></p>
                        {{ lipsum(n=1, html=True, min=15, max=16) }}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <h3>Using responsive classes</h3>

            <p>Every alignment classname is available for each Foundation media query names, you can combine them to change alignment behavior between media queries.</p>

            <div class="v-space-thin">
                <p>Classnames are builded using enabled media queries from <code>$sv-breakpoints</code>.</p>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            {% for name in ['start', 'end', 'center', 'around', 'between'] %}
                            <th>{{ name|capitalize }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for breakpoint in ['', 'small', 'medium', 'large', 'xlarge', 'xxlarge'] %}
                        <tr>
                            <th>{% if breakpoint %}{{ breakpoint|capitalize }}{% endif %}</th>
                            {% for name in ['start', 'end', 'center', 'around', 'between'] %}
                                <td>.v-align-{{ breakpoint }}{% if breakpoint %}-{% endif %}{{ name }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row larger v-space-tiny">
        <div class="small-12 columns">
            <h2>Container items direction</h2>

            {% for name in ['row', 'row-reverse', 'column', 'column-reverse'] %}
            <h3>.direction-{{ name }}</h3>
            <div class="demo-result">
                <div class="flex-grid flex-demo direction-{{ name }}">
                    {% for count in range(1, 4) %}
                    <div class="cell small-33 text-center">
                        {{ count }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

            <h3>Using responsive classes</h3>

            <p>Every direction classname is available for each Foundation media query names, you can combine them to change direction behavior between media queries.</p>
            <div class="demo-result">
                <div class="flex-grid flex-demo direction-column direction-large-row">
                    {% for count in range(1, 4) %}
                    <div class="cell small-33 text-center">
                        {{ count }}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="v-space-thin">
                <p>Classnames are builded using enabled media queries from <code>$sv-breakpoints</code>.</p>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            {% for name in ['row', 'row reverse', 'column', 'column reverse'] %}
                            <th>{{ name|capitalize }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for breakpoint in ['', 'small', 'medium', 'large', 'xlarge', 'xxlarge'] %}
                        <tr>
                            <th>{% if breakpoint %}{{ breakpoint|capitalize }}{% endif %}</th>
                            {% for name in ['row', 'row-reverse', 'column', 'column-reverse'] %}
                                <td>.direction-{{ breakpoint }}{% if breakpoint %}-{% endif %}{{ name }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
