{% extends "_includes/_skeleton.html" %}

{% block base_content %}
<div class="section divider" id="blockquotes">
    <div class="row">
        <div class="small-12 columns">
            <h1 class="demo-title">{{ page_title|capitalize }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <p>Alike Foundation, Sveetoy is splitted in various components. Every one of these components can be imported without including any classes using a special variable.</p>
        </div>
    </div>
</div>
{% endblock %}