<div id="install" class="block demo-block"{% if foundation_version == 6 %} data-magellan-target="install"{% endif %}>
    <div class="row larger demo-introduction">
        <div class="small-12 columns">
            <h1 class="demo-title text-upper">Install</h1>

            <p>We recommend you to use it as an imported library from your Sass compiler and avoid to include it inside your project Sass sources.</p>

            <p>Once library is available with your compiler, import it in your sources:</p>

            <div class="code-container">
                <p>@import "settings";</p>
                <p>@import "foundation";</p>
                <p>@import "sveetoy";</p>
            </div>

            <p>Alike with Foundation, you must load the settings first then libraries. In your settings you can define both Foundation and Sveetoy settings or you may split them in two or more settings files. Sveetoy allways come after Foundation since it relies on some of its mixins and settings.</p>

            <p><code>sveetoy/_f6_settings.scss</code> contains a sample setting file you may include in at end of your main settings file and adjust to your needs. Be aware that some of its values are linked to some Foundation setting values.</p>
        </div>
    </div>
</div>