<div id="install" class="block demo-block"{% if foundation_version == 5 %} data-magellan-destination="install"{% else %} data-magellan-target="install"{% endif %}>
    <div class="row larger demo-introduction">
        <div class="small-12 columns">
            <h1 class="demo-title text-upper">Install</h1>

            <p>We recommend you to use it as an imported library from your Sass compiler and avoid to include it inside your project Sass sources.</p>

            <p>Once library is available with your compiler, import it in your sources:</p>

            <div class="code-container">
                <p>@import "settings";</p>
                <p>@import "foundation";</p>
                <p>@import "sveetoy";</p>
            </div>

            <p>Alike with Foundation, you must load the settings first then libraries. In your settings you can define both Foundation and Sveetoy settings or you may split them in two or more settings files.</p>

            <p>Included file <code>sveetoy/{% if foundation_version == 5 %}_f5_settings{% else %}_f6_settings{% endif %}.scss</code> contains some sample settings you may include in at end of your main settings file and adjust to your needs. Be aware that some of its values are linked to some Foundation setting values.</p>

            {% if foundation_version == 5 %}
            <p>Since Sveetoy <code>0.6.0</code>, default enabled support is for Foundation 6, for Foundation 5 support you will need to activate it in your settings with following variable to place before Sveetoy import:</p>

            <div class="code-container">
                <p>$sveetoy_foundation_support: 5;</p>
            </div>
            {% endif %}

        </div>
    </div>
</div>