<div class="section demo-section" data-magellan-destination="sections">
    <a id="sections"></a>
    <div class="row larger demo-introduction">
        <div class="small-12 columns">
            <h1 class="demo-title">Sections</h1>
            <p>Section is just a full width container on top level of your body elements tree. There are useful for fluid design layouts but their first goal is to set background and font colors for their child elements.</p>
            <p>Default section have vertical padding but you can use bigger or lower padding value or even null.</p>
            <p>Section CSS rules enforce color for texts. You can set different font color for paragraph (lists inherit from it), each title level and links.</p>
            <p><code>.section</code> does not have any links with <code>&lt;section&gt;</code> element although you can mix them if you want.

            <dl>
                <dt>Can be disabled with</dt>
                <dd><code>$include-sveetoy-sections: false;</code></dd>

                <dt>Source location</dt>
                <dd><code>sveetoy/components/_sections.scss</code></dd>
            </dl>
        </div>
    </div>

    {% for name in ['', 'black', 'lightskyblue', 'tall'] %}
    <div class="section{% if name %} {{ name }}{% endif %}">
        <div class="row">
            <div class="small-12 columns">
                <h2 class="demo-title">.section{% if name %}.{{ name }}{% endif %}</h2>
                {% include '_includes/_inline_markup.html' %}

                {{ lipsum(n=2, html=True, min=20, max=50) }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
