<div class="section demo-section" data-magellan-destination="sections">
    <a id="sections"></a>
    <div class="row larger demo-introduction">
        <div class="small-12 columns">
            <h1 class="demo-title">Sections</h1>
            <p>Section is just a full width container on top level of your body elements tree. There are useful for fluid design layouts but their first goal is to set background and font colors for their child elements.</p>
            <p>Default section have vertical padding but you can use bigger or lower padding value or even null.</p>
            <p>Section CSS rules enforce color for texts. You can set different font color for paragraph (lists inherit from it), each title level and links.</p>
            <p><strong>Location:</strong> <code>sveetoy/components/_sections.scss</code></p>
        </div>
    </div>

    <div class="section">
        <div class="row">
            <div class="small-12 columns">
                <h2 class="demo-title">Hey i'm a standard section</h2>
                <p>And i give the <strong>default</strong> section behaviors, just black font color on top of white background color.</p>
            </div>
        </div>
    </div>

    <div class="section black">
        <div class="row">
            <div class="small-12 columns">
                <h2 class="demo-title">Hoo i'm so jazzy</h2>
                <p>I'm just a <strong>black</strong> section, meaning white font on black background.</p>
            </div>
        </div>
    </div>

    <div class="section lightskyblue">
        <div class="row">
            <div class="small-12 columns">
                <h2 class="demo-title">Sky is blue and me too</h2>
                <p>This is another sample based on some blue colors.</p>
            </div>
        </div>
    </div>

    <div class="section tall">
        <div class="row">
            <div class="small-12 columns">
                <h2 class="demo-title">I'm tall</h2>
                <p>A simple section with <strong>tall</strong> padding.</p>
            </div>
        </div>
    </div>
</div>
