<div id="spaces" class="block demo-block"{% if foundation_version == 6 %} data-magellan-target="spaces"{% endif %}>
    <div class="row larger demo-introduction">
        <div class="small-12 columns">
            <h1 class="text-upper">Spaces</h1>
            <p>This component create some class helpers to apply paddings or margins using space rythmic
            defined in map <code>$sv-spaces</code>. All of these classes use the <code>!important</code>.</p>

            <p>There are many space sizes available and each of them have their own breakpoint sizes.</p>

            <dl>
                <dt>Can be disabled with</dt>
                <dd><code>$include-sv-spaces: false;</code></dd>

                <dt>Create size classes from</dt>
                <dd><code>$sv-spaces</code></dd>

                <dt>Source location</dt>
                <dd><code>sveetoy/components/_spaces.scss</code></dd>

                <dt>!important mark usage can be disabled with</dt>
                <dd><code>$sv-spaces-helpers-important: false;</code></dd>
            </dl>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <hr class="gray82 thin">

            <h2>Vertical padding in element</h2>
            <div class="flex-grid marged">
                {% for thickness in ['tiny', 'short', 'normal', 'large', 'wide'] %}
                <div class="cell small-100 medium-33 large-20">
                    <code>.v-space-{{ thickness }}</code>
                    <div class="demo-result v-space-{{ thickness }}">
                        <span class="button secondary small full">Foo</span>
                    </div>
                </div>
                {% endfor %}
            </div>

            <h3>Only top or bottom</h3>
            <div class="flex-grid marged">
                {% for side in ['top', 'bottom'] %}
                <div class="cell small-100 medium-50">
                    <code>.v-space-normal.{{ side }}-only</code>
                    <div class="demo-result v-space-normal {{ side }}-only">
                        <span class="button secondary small full">Foo</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row larger">
        <hr class="gray82 thin">

        <div class="small-12 columns">
            <h2>Horizontal padding in element</h2>
            <div class="flex-grid marged">
                {% for thickness in ['tiny', 'short', 'normal', 'large', 'wide'] %}
                <div class="cell small-100 medium-50 large-33">
                    <code>.h-space-{{ thickness }}</code>
                    <div class="demo-result h-space-{{ thickness }}">
                        <span class="button secondary small full">Foo</span>
                    </div>
                </div>
                {% endfor %}
            </div>

            <h3>Only left or right</h3>
            <div class="flex-grid marged">
                {% for side in ['left', 'right'] %}
                <div class="cell small-100 medium-50">
                    <code>.h-space-normal.{{ side }}-only</code>
                    <div class="demo-result h-space-normal {{ side }}-only">
                        <span class="button secondary small full">Foo</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row larger">
        <hr class="gray82 thin">

        <div class="small-12 columns">
            <h2>Vertical margin divider</h2>
            <div class="flex-grid marged">
                {% for thickness in ['tiny', 'short', 'normal', 'large', 'wide'] %}
                <div class="cell small-100 medium-50 large-33">
                    <div class="demo-result">
                        <span class="button small full v-divider-{{ thickness }}">.v-divider-{{ thickness }}</span>
                        <span class="button small full secondary">Follower</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row larger">
        <hr class="gray82 thin">

        <div class="small-12 columns">
            <h2>Horizontal margin divider</h2>
            <div class="flex-grid marged">
                {% for thickness in ['tiny', 'short', 'normal', 'large', 'wide'] %}
                <div class="cell small-100 medium-50 large-33">
                    <div class="demo-result">
                        <span class="button small h-divider-{{ thickness }}">.h-divider-{{ thickness }}</span>
                        <span class="button small secondary">Follower</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>