<div id="typography" class="block demo-block"{% if foundation_version == 6 %} data-magellan-target="typography"{% endif %}>
    <div class="row larger demo-introduction">
        <div class="small-12 columns">
            <h1 class="text-upper">Typography</h1>
            <p>This component adds some minor things to the Foundation typography stuff.</p>

            <p>Also there is a new rule that prevent paragraphs to have a bottom margin if they are the last child of their parent.</p>

            <dl>
                <dt>Can be disabled with</dt>
                <dd><code>$include-sv-typography: false;</code></dd>

                <dt>Source location</dt>
                <dd><code>sveetoy/components/_type.scss</code></dd>
            </dl>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2>Title element</h2>
            <p>Title styles are not anymore sticked to <code>hX</code> elements, now you can use them by the way of <code>.title-X</code> classes on any other element to preserve semantic. You may even use a <code>.title-X</code> class on <code>hX</code> element.</p>
            <div class="row larger">
                <div class="small-12 medium-6 columns">
                    <div class="demo-result v-space-tiny">
                        {% for count in range(1, 7) %}
                        <h{{ count }}>h{{ count }}</h{{ count }}>
                        {% endfor %}
                    </div>
                </div>
                <div class="small-12 medium-6 columns">
                    <div class="demo-result v-space-tiny">
                        {% for count in range(1, 7) %}
                        <p class="title-{{ count }}">.title-{{ count }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2>Text colors</h2>
            <p>Text colors are available for every color defined in map <code>$sv-color-text-palette</code>. Properties are defined using <code>!important</code> flag so take care of their usage.</p>
            <div class="demo-result v-space-tiny">
                {% for k,v in styleguide.text_colors.items() %}
                <p class="text-{{ k }}">.text-{{ k }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2>Font thickness</h2>
            <p>Two more font thickness are available if their corresponding variable is defined:</p>
            <ul>
                <li><code>$global-weight-thin</code> for thinest thickness;</li>
                <li><code>$global-weight-strong</code> for strongest thickness.</li>
            </ul>
            <div class="demo-result v-space-tiny">
                {% for k,v in styleguide.text_thickness.items() %}
                <p class="text-{{ k }}">{% if k == 'bold' %}<b>&lt;b&gt;</b>, {% elif k == 'strong' %}<strong>&lt;strong&gt;</strong>, {% endif %}.text-{{ k }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2>Small</h2>
            <p>Add some size possibilities to <code>&lt;small&gt;</code> element. <code>.medium</code> is equivalent to the default <code>&lt;small&gt;</code> behavior. Available sizes are built from <code>$sv-smalls</code>.</p>
            <div class="demo-result v-space-tiny">
                {% for name in styleguide.smalls %}
                <p><code>.{{ name }}</code> <small class="{{ name }}">{{ lipsum(n=1, html=False, min=15, max=16) }}</small></p>
                {% endfor %}
                <p>{{ lipsum(n=1, html=False, min=15, max=16) }}</p>
            </div>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2>Transform and decoration</h2>
            <p><code>.text-upper</code> enables you to correctly write your texts in lowercase but render them as uppercase. <code>.text-important</code> just define the underline value for <code>text-decoration</code> property.</p>
            <div class="demo-result v-space-tiny">
                <p class="text-upper">.text-upper</p>
                <p class="text-important">.text-important</p>
            </div>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2>Underline</h2>
            <p>Various underline positions, thickness and widths. All of them are implemented with border properties on a pseudo-element <code>:after</code>.</p>

            <h3>Width</h3>
            <p>Built from list <code>$sv-underline-widths</code>.</p>
            <div class="flex-grid marged">
                {% for name in styleguide.underline_widths %}
                <div class="cell small-100 medium-50 large-33">
                    <div class="demo-result v-space-tiny">
                        <p class="title-4 underline {{ name }}">.underline{% if name %}.{{ name }}{% endif %}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <h3>Thickness</h3>
            <p>Built from map <code>$sv-underline-thickness</code>.</p>
            <div class="flex-grid marged">
                {% for name in styleguide.underline_thickness %}
                <div class="cell small-100 medium-50 large-33">
                    <div class="demo-result v-space-tiny">
                        <p class="title-4 underline {{ name }}">.underline{% if name %}.{{ name }}{% endif %}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <h3>Distance</h3>
            <p>Built from list <code>$sv-underline-distances</code>.</p>
            <div class="flex-grid marged">
                {% for name in styleguide.underline_distances %}
                <div class="cell small-100 medium-50 large-33">
                    <div class="demo-result v-space-tiny">
                        <p class="title-4 underline {{ name }}">.underline{% if name %}.{{ name }}{% endif %}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <h3>Alignment</h3>
            <p>No variable is used to build this single feature.</p>
            <div class="flex-grid marged">
                {% for name in ['normal', 'text-center'] %}
                <div class="cell small-100 medium-50 large-33">
                    <div class="demo-result v-space-tiny">
                        <p class="title-4 underline {{ name }}">.underline{% if name %}.{{ name }}{% endif %}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <h3>Color</h3>
            <p>Built from list <code>$sv-underline-colors</code>.</p>
            <div class="flex-grid marged">
                <div class="cell small-100 medium-50 large-33">
                    <div class="demo-result v-space-tiny">
                        <p class="title-4 underline">.underline</p>
                    </div>
                </div>
                {% for k,v in styleguide.underline_colors.items() %}
                <div class="cell small-100 medium-50 large-33">
                    <div class="demo-result v-space-tiny">
                        <p class="title-4 underline {{ k }}">.underline.{{ k }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2>Horizontal rule</h2>
            <p>Various horizontal rule positions, thickness and widths. Following the same scheme formats than <code>.underline</code> features.</p>

            <h3>Thickness</h3>
            <p>Built from map <code>$sv-hr-thickness</code>.</p>
            <div class="flex-grid marged">
                {% for name in styleguide.hr_thickness %}
                <div class="cell small-100 medium-50 large-33">
                    <div class="demo-result v-space-tiny">
                        <p>hr{% if name %}.{{ name }}{% endif %}</p>
                        <hr class="{{ name }}">
                    </div>
                </div>
                {% endfor %}
            </div>

            <h3>Distance</h3>
            <p>Built from list <code>$sv-hr-distances</code>.</p>
            <div class="flex-grid marged">
                {% for name in styleguide.hr_distances %}
                <div class="cell small-100 medium-50 large-33">
                    <div class="demo-result v-space-tiny">
                        <span>hr{% if name %}.{{ name }}{% endif %}</span>
                        <hr class="{{ name }}">
                    </div>
                </div>
                {% endfor %}
            </div>

            <h3>Color</h3>
            <p>Built from list <code>$sv-hr-colors</code>.</p>
            <div class="flex-grid marged">
                <div class="cell small-100 medium-50 large-33">
                    <div class="demo-result v-space-tiny">
                        <p>hr</p>
                        <hr>
                    </div>
                </div>
                {% for k,v in styleguide.underline_colors.items() %}
                <div class="cell small-100 medium-50 large-33">
                    <div class="demo-result v-space-tiny">
                        <p>hr.{{ k }}</p>
                        <hr class="{{ k }}">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>