<div class="section demo-section" data-magellan-destination="typography">
    <a id="typography"></a>
    <div class="row larger demo-introduction">
        <div class="small-12 columns">
            <h1 class="demo-title">Typography</h1>
            <p>This component adds some minor things to the Foundation typography stuff.</p>

            <p>Also there is a new rule that prevent paragraphs to have a bottom margin if they are the last child of their parent.</p>

            <dl>
                <dt>Can be disabled with</dt>
                <dd><code>$include-sveetoy-typography: false;</code></dd>

                <dt>Source location</dt>
                <dd><code>sveetoy/components/_type.scss</code></dd>
            </dl>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2 class="demo-title">Title element</h2>
            <p>Title styles are not anymore sticked to <code>hX</code> elements, now you can use them by the way of <code>.title-X</code> classes on any other element to preserve semantic.</p>
            <div class="demo-result v-space-thin">
                {% for count in range(1, 7) %}
                <h{{ count }}>h{{ count }}, .title-{{ count }}</h{{ count }}>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2 class="demo-title">Text colors</h2>
            <p>Text colors are available for every color defined in map <code>$sveetoy-color-text-palette</code>. Properties are defined using <code>!important</code> flag so take care of their usage.</p>
            <div class="demo-result v-space-thin">
                {% for name in ['white', 'black', 'gray25', 'gray82', 'gray88', 'lightskyblue', 'deepskyblue4'] %}
                <p class="text-{{ name }}">.text-{{ name }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2 class="demo-title">Thickness</h2>
            <p>Two more thickness are available if their corresponding variable is defined. <code>$font-weight-thin</code> for thinest thickness and <code>$font-weight-bolder</code> for boldest thickness.</p>
            <div class="demo-result v-space-thin">
                {% for name in ['thin', 'normal', 'strong', 'stronger'] %}
                <p class="text-{{ name }}">.text-{{ name }}</p>
                {% endfor %}
                <p><b>&lt;b&gt;</b></p>
                <p><strong>&lt;strong&gt;</strong></p>
            </div>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2 class="demo-title">Small</h2>
            <p>Add some size possibilities to <code>&lt;small&gt;</code> element. <code>.medium</code> is equivalent to the default <code>&lt;small&gt;</code> behavior.</p>
            <div class="demo-result v-space-thin">
                {% for name in ['small', 'medium', 'big'] %}
                <p><code>.{{ name }}</code> <small class="{{ name }}">{{ lipsum(n=1, html=False, min=15, max=16) }}</small></p>
                {% endfor %}
                <p>{{ lipsum(n=1, html=False, min=15, max=16) }}</p>
            </div>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2 class="demo-title">Transform and decoration</h2>
            <p><code>.text-upper</code> enables you to correctly write your texts in lowercase but render them as uppercase. <code>.text-important</code> just define the underline value for <code>text-decoration</code> property.</p>
            <div class="demo-result v-space-thin">
                <p class="text-upper">.text-upper</p>
                <p class="text-important">.text-important</p>
            </div>
        </div>
    </div>

    <div class="row larger">
        <div class="small-12 columns">
            <h2 class="demo-title">Underline</h2>
            <p>Various underline position, thickness and widths. All of them are implemented with border properties on a pseudo-element.</p>
            <div class="flex-grid marged">
                {% for name in ['', 'short', 'large', 'full', 'thin', 'bold', 'tiny', 'far', 'near', 'sticked', 'text-center'] %}
                <div class="cell small-100 medium-50 large-33">
                    <div class="demo-result v-space-thin">
                        <p class="title-4 underline {{ name }}">.underline{% if name %}.{{ name }}{% endif %}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>