<div class="block demo-block" data-magellan-destination="vocabulary">
    <a id="vocabulary"></a>
    <div class="row larger demo-introduction">
        <div class="small-12 columns">
            <h1 class="demo-title text-upper">Vocabulary</h1>
            <p>Components features share the same vocabulary depending of feature kind.</p>

            <p>The following vocabulary kinds are listing every word from the lesser value to higher.</p>

            <div class="flex-grid marged">

                <div class="cell small-100 medium-33 box">
                    <h2 class="demo-title">Thickness</h2>
                    <ul>
                        <li>thin</li>
                        <li>normal</li>
                        <li>bold</li>
                        <li>strong</li>
                    </ul>
                </div>

                <div class="cell small-100 medium-33 box">
                    <h2 class="demo-title">Distance</h2>
                    <ul>
                        <li>sticked</li>
                        <li>near</li>
                        <li>normal</li>
                        <li>far</li>
                    </ul>
                </div>

                <div class="cell small-100 medium-33 box">
                    <h2 class="demo-title">Width</h2>
                    <ul>
                        <li>tiny</li>
                        <li>short</li>
                        <li>normal</li>
                        <li>large</li>
                        <li>wide</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>