{% extends "_includes/_skeleton.html" %}

{% block head_title %}{{ SITE.name }}{% endblock %}

{% block base_content %}
<div class="block snow1" id="intro">
    <div class="row large">
        <div class="small-12 columns">
            <h1 class="logo">Sveetoy</h1>
            <p class="title-3 text-center">A <a href="http://sass-lang.com/" target="blank">Sass</a> library for programmatic rythm and some candies on top of <a href="http://foundation.zurb.com/sites/docs/v/5.5.3/" target="blank">Foundation for Sites</a> version <b>5.5.3</b> or <b>6.3.1</b>.</p>

            <div class="v-space-normal flex-grid marged text-center">
                <div class="cell small-100 medium-33 align-center h-space-normal">
                    <p>Responsive rhythm for your spaces and texts</p>
                </div>
                <div class="cell small-100 medium-33 align-center h-space-normal">
                    <p>Enforce your color policy from settings</p>
                </div>
                <div class="cell small-100 medium-33 align-center h-space-normal">
                    <p>Faster prototyping</p>
                </div>
            </div>

            <div>
                <p class="text-center"><a href="{{ SITE.web_url }}/dist/Sveetoy-sass-{{ version }}.zip" class="button">Download version {{ version }} (ZIP)</a></p>
            </div>
        </div>
    </div>
</div>

<div class="block snow1 unpadded" id="demo-menu">
    <div class="row larger">
        <div class="small-12 columns">
            <div data-magellan-expedition="fixed" class="menu">
                <ul class="sub-nav">
                    <li data-magellan-arrival="install"><a href="#install">Install</a></li>
                    <li data-magellan-arrival="vocabulary"><a href="#vocabulary">Vocabulary</a></li>
                    <li data-magellan-arrival="typography"><a href="#typography">Typography</a></li>
                    <li data-magellan-arrival="buttons"><a href="#buttons">Buttons</a></li>
                    <li data-magellan-arrival="spaces"><a href="#spaces">Spaces</a></li>
                    <li data-magellan-arrival="blocks"><a href="#blocks">Blocks</a></li>
                    <li data-magellan-arrival="boxes"><a href="#boxes">Boxes</a></li>
                    <li data-magellan-arrival="flex"><a href="#flex">Flexbox</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% include 'components/install.html' %}
{% include 'components/vocabulary.html' %}
{% include 'components/typography.html' %}
{% include 'components/buttons.html' %}
{% include 'components/spaces.html' %}
{% include 'components/blocks.html' %}
{% include 'components/boxes.html' %}
{% include 'components/flex.html' %}
{% endblock %}