{% extends "_includes/_skeleton.html" %}

{% block head_title %}{{ SITE.name }}{% endblock %}

{% block base_content %}
<div class="section snow1" id="intro">
    <div class="row large">
        <div class="small-12 columns">
            <h1 class="logo">Sveetoy</h1>
            <p class="title-3 text-center">A <a href="http://sass-lang.com/" target="blank">Sass</a> library for programmatic rythm and some candies on top of <a href="http://foundation.zurb.com/sites/docs/v/5.5.3/" target="blank">Foundation for Sites</a> (currently for Foundation 5.5.3).</p>

            <div class="v-space-normal flex-grid marged text-center">
                <div class="cell small-98 medium-31 flex-vertical-center-stack h-space-normal">
                    <p>Responsive rhythm for your spaces and texts</p>
                </div>
                <div class="cell small-98 medium-31 flex-vertical-center-stack h-space-normal">
                    <p>Enforce your color policy from settings</p>
                </div>
                <div class="cell small-98 medium-31 flex-vertical-center-stack h-space-normal">
                    <p>Rapid prototypes</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section snow1 unpadded" id="demo-menu">
    <div class="row larger">
        <div class="small-12 columns">
            <div data-magellan-expedition="fixed" class="menu">
                <ul class="sub-nav">
                    <li data-magellan-arrival="typography"><a href="#typography">Typography</a></li>
                    <li data-magellan-arrival="buttons"><a href="#buttons">Buttons</a></li>
                    <li data-magellan-arrival="spaces"><a href="#spaces">Spaces</a></li>
                    <li data-magellan-arrival="sections"><a href="#sections">Sections</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% include 'components/typography.html' %}
{% include 'components/buttons.html' %}
{% include 'components/spaces.html' %}
{% include 'components/sections.html' %}
{% endblock %}