@import 'util/util';

/// Global settings which Foundation and Sveetoy depend from

// Colors
$white: #ffffff;
$black: #000000;
$lightskyblue: #87cefa;
$deepskyblue4: #00688b;
$gray25: #404040;
$gray82: #d0d0d0;
$gray88: #e0e0e0;
$gray94: #f0f0f0;
$snow1: #fffafa;

// Available font families
$font-family-roboto: 'Roboto', sans-serif;
$font-family-overlock: 'Overlock SC', cursive;

///
/// FOUNDATION6 SETTINGS
///


// 1. Global
// ---------

$body-font-family: $font-family-roboto;
$global-font-size: 16px;

// Font weight
$font-weight-normal: 400;
$font-weight-bold: 700;

// F6 support
$global-weight-normal: $font-weight-normal;
$global-weight-bold: $font-weight-bold;


// 2. Breakpoints
// --------------

$breakpoint-classes: (small medium large xlarge xxlarge);

// Legacy media queries
$small-up: screen;
$medium-up: unquote('screen and #{breakpoint(medium)}');
$large-up: unquote('screen and #{breakpoint(large)}');
$xlarge-up: unquote('screen and #{breakpoint(xlarge)}');
$xxlarge-up: unquote('screen and #{breakpoint(xxlarge)}');

// 4. Base Typography
// ------------------

$header-font-family: $font-family-overlock;


// 37. Top Bar
// -----------

$topbar-unstack-breakpoint: large;
$topbar-background: $gray25;
