{% extends "_includes/_skeleton.html" %}

{% block base_content %}
<div class="section divider" id="blockquotes">
    <div class="row">
        <div class="small-12 columns">
            <h1 class="demo-title">{{ page_title|capitalize }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <h3>Difference between fixed and sticky modes</h3>
            <p>Both are visible at a fixed position but only <kbd>fixed</kbd>
            topbar is allways visible.</p>
            <p>On the contrary, <kbd>sticky</kbd> topbar only reveal once you
            scroll.</p>

            <h3>Anchors within samples</h3>
            <p>It's interesting to compare behavior of reaching anchors between
            sticky and fixed mode.</p>

            <dl>
                <dt>Sticky</dl>
                <dd>
                    <ul>
                        <li><a href="sticky.html#headings">Headings</a></li>
                        <li><a href="sticky.html#grid">Grid</a></li>
                        <li><a href="sticky.html#blockquotes">Blockquotes</a></li>
                        <li><a href="sticky.html#figures">Figures</a></li>
                    </ul>
                </dd>
            </dl>

            <dl>
                <dt>Fixed</dl>
                <dd>
                    <ul>
                        <li><a href="fixed.html#headings">Headings</a></li>
                        <li><a href="fixed.html#grid">Grid</a></li>
                        <li><a href="fixed.html#blockquotes">Blockquotes</a></li>
                        <li><a href="fixed.html#figures">Figures</a></li>
                    </ul>
                </dd>
            </dl>

        </div>
    </div>
</div>

{% endblock %}